# Image of the cluster-gateway instances
image: oamdev/cluster-gateway

tag: v1.1.8

# Number of replicas
replicas: 1
# A secured namespace for reading cluster secrets
secretNamespace: open-cluster-management-credentials

ocmIntegration:
  enabled: false
  clusterProxy:
    enabled: false
    endpoint:
      host: proxy-entrypoint.open-cluster-management-cluster-proxy
      port: 8090