apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name:  open-cluster-management:cluster-gateway:managedcluster-reader
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name:  open-cluster-management:cluster-gateway:managedcluster-reader
subjects:
  - kind: ServiceAccount
    name: cluster-gateway
    namespace: {{ .Release.Namespace }}
